<!--The content below is only a placeholder and can be replaced.-->
<header align="center">
  <h1>
    Shopping Cart Application
  </h1>
</header>
<div class="container color-dark">
  <div class="col">
    <p>Login</p>
  </div>
</div>

<div class="container color-light">
  <!-- <div class="col">
    <p class="sm">Use this form to add a new bucket list goal. What do you want to do? </p> -->
    <form>
      <input type="text" class="txt" name="item" placeholder="Username"><br><br>
      <input type="passowrd" class="pwd" name="item" placeholder="Password"><br><br>
      <input type="submit" class="btn" value="Login">
    </form>
  </div>
<router-outlet></router-outlet>
