/* You can add global styles to this file, and also import other style files */
header{
    margin: auto;
    width: 70%;
    padding: 20px;
}
body{
    // background: url('');
    // padding: 3em;
    font-family: 'Raleway', 'Arial';
    color: black;
}

.container{
    margin: auto;
    width: 40%;
    padding: 10px;
}

.color-dark{
    background:#a6a6a6;
}

.color-light{
    background: #bfbfbf;
}